.logo {
    height: 250px;
}
@media only screen and (max-width: 639px) {
    .logo {
        height: 150px;
    }
}
.sub-sin-margen {
    margin-top: 0;
    margin-bottom: 0;
}
.avatar {
    height: 220px;
}